<a class="option w-[40px] h-[40px] text-lg flex justify-start items-center rounded-lg duration-200 text-main overflow-hidden hover:bg-main/30"
  [routerLink]="['/dashboard']" id="home" title="Inicio">
  <i class="fa-solid fa-volleyball text-xl min-w-[40px] text-center"></i>
  <span class="min-w-[240px]">Inicio</span>
</a>
<a class="option w-[40px] h-[40px] text-lg flex justify-start items-center rounded-lg duration-200 text-main overflow-hidden hover:bg-main/30"
  [routerLink]="['/dashboard/payments']" id="payments" title="Registros monetarios">
  <i class="fa-solid fa-hand-holding-dollar text-xl min-w-[40px] text-center"></i>
  <span class="min-w-[240px]">Registros monetarios</span>
</a>
<!-- <a class="option w-[40px] h-[40px] text-lg flex justify-start items-center rounded-lg duration-200 text-main overflow-hidden hover:bg-main/30"
  [routerLink]="['/dashboard/statistics']" id="statistics" title="Estadisticas">
  <i class="fa-solid fa-chart-pie text-xl min-w-[40px] text-center"></i>
  <span class="min-w-[240px]">Estadisticas</span>
</a> -->
<a class="option w-[40px] h-[40px] text-lg flex justify-start items-center rounded-lg duration-200 text-main overflow-hidden hover:bg-main/30"
  [routerLink]="['/dashboard/players']" id="players" title="Jugadores">
  <i class="fa-solid fa-people-group text-xl min-w-[40px] text-center"></i>
  <span class="min-w-[240px]">Jugadores</span>
</a>