<div class="wrapper">
  <section class="bg-banner">
    <img src="../../../assets/imgs/escudo-la-orotava (letras).png" alt="" />
    <img src="../../../assets/imgs/LogoAyuntamiento.png" alt="" />
    <img
      src="../../../assets/imgs/LogoCuadradoClubVolei(sin fondo).png"
      alt=""
    />
  </section>
  <section class="profile-pic">
    <img
      src="../../../assets/imgs/foto_perfil_ejemplo.webp"
      alt="Foto de perfil"
    />
  </section>
  <section class="profile-info">
    <h1 class="userinfo-title" id="username">Antonio Fernandez Hernandez</h1>
    <div class="user-mail" id="usermail">antonioFernandez@gmail.com</div>
    <section class="tags" id="tags">
      <h1 class="tags-title">Roles</h1>
      <div class="tags-container">
        <div class="tag-item">Admin</div>
        <div class="tag-item">Entrenador/a</div>
        <div class="tag-item">Jugador/a</div>
      </div>
    </section>
  </section>
  <section class="profile-config">
    <h1 class="config-title">Configuración:</h1>
  </section>
</div>
