<section id="player-spinner" class="h-full w-full flex justify-center items-center">
  <img src="../../../assets/imgs/Volleyball-PNG.webp" class="h-16 drop-shadow-2xl animate-[spin_1.5s_infinite]" />
</section>

<!-- ****************************************************** NOT LOADED ****************************************************** -->
<app-not-loaded class="hidden" [loaderErrorMsg]="loaderErrorMsg"></app-not-loaded>

<div id="players-wrapper" class="w-full min-h-full relative hidden pb-14">
  <section class="grid grid-cols-[auto_1fr_auto] grid-rows-2 lg:grid-rows-1 gap-3 md:gap-5 mb-3 md:mb-5 bg-white">
    <button (click)="toggleSaveModal()"
      class="bg-blue-500 hover:bg-blue-700 duration-200 text-neutral-50 font-medium text-sm md:text-base [&>*:first-child]:hover:rotate-180 px-2 py-1 md:px-4 md:py-2 rounded-md lg:order-1">
      Añadir jugador
      <i class="fa-solid fa-plus duration-500"></i>
    </button>
    <div class="lg:hidden"></div>
    <button (click)="deleteAll()"
      class="bg-red-500 hover:bg-red-700 duration-200 text-neutral-50 font-medium text-sm md:text-base [&>*:first-child]:hover:animate-shake px-2 py-1 md:px-4 md:py-2 rounded-md lg:order-3">
      Borrar jugadores
      <i class="fa-solid fa-trash duration-500"></i>
    </button>
    <div
      class="flex justify-center items-center rounded-full overflow-hidden lg:order-2 row-start-2 lg:row-start-1 col-span-3 lg:col-span-1 lg:col-start-2">
      <div class="relative flex justify-center items-center w-full md:w-max">
        <input
          class="h-7 md:h-8 text-sm md:text-base bg-gray-200/75 px-3 rounded-ss-full rounded-es-full w-[calc(100%-32px)] md:w-[400px] outline-none border-[1px] border-transparent focus:border-y-[1px] focus:border-s-[1px] focus:border-main duration-300 placeholder:text-neutral-500"
          type="text" placeholder="¿A quién buscas?" (keyup)="searchPlayers()" id="search-input" />
        <button class="absolute right-[42px] text-neutral-500 hover:text-neutral-800 duration-200"
          (click)="resetSearch()">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <button
          class="h-7 md:h-8 text-sm md:text-base bg-main aspect-square rounded-se-full rounded-ee-full flex items-center justify-center"
          (click)="searchPlayers()">
          <i class="fa-solid fa-magnifying-glass text-lg text-slate-50"></i>
        </button>
      </div>
    </div>
  </section>
  <section id="players-list" class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-3">
    <div *ngFor="let player of players"
      class="relative z-0 rounded-lg max-w-full min-w-[calc(1/3*100%)] bg-neutral-300/60 hover:bg-blue-100/60 duration-200 flex items-center gap-5 p-5 h-full w-full overflow-hidden [&>button]:hover:h-9 [&>span]:hover:bg-blue-100 [&>span]:hover:top-[-90px] [&>span]:hover:right-[150px] [&>button>i]:hover:opacity-100">
      <div class="w-20 aspect-square rounded-full overflow-hidden">
        <img class="h-full w-full" [src]="showPlayerImage(player)" alt="">
      </div>
      <button (click)="toggleUpdateModal(player)" class="absolute h-5 aspect-square rounded-bl-lg bg-blue-400 top-0 right-0 shadow-md flex-center [&>*:first-child]:hover:animate-lateralBounce duration-200">
        <i class="fa-solid fa-magnifying-glass text-lg text-slate-50 opacity-0 duration-200"></i>
      </button>
      <div class="w-full">
        <p class="font-bold">{{player.name}} {{player.surname1}} {{player.surname2}}</p>
        <p class="text-neutral-500">{{player.dni}}</p>
        <div class="text-neutral-500 flex flex-wrap gap-x-3">
          <div class="font-bold">{{player.category}}</div><div>{{player.birthday}}</div>
        </div>
      </div>
      <span class="rand-circle absolute bg-blue-100/50 h-56 aspect-square rounded-full right-[43px] top-[-8px] -z-[10] blur-xl duration-500"></span>
    </div>
  </section>
</div>

<!-- ******************************************************** MODALS ******************************************************** -->
<!-- ******************************** UPDATE MODAL ******************************** -->
<div id="update-player-modal"
  class="flex justify-center items-center fixed top-0 right-0 w-screen h-screen bg-neutral-800/80 backdrop-blur-sm p-3 lg:p-6 hidden z-[25] overflow-y-auto">
  <div
    class="bg-neutral-50 h-max w-full lg:w-[1000px] flex flex-wrap gap-3 p-3 md:gap-5 md:p-5 relative animate-popup rounded-lg text-sm md:text-base">
    <button
      class="text-xl text-main duration-200 absolute top-3 right-3 hover:scale-125 lg:top-5 lg:right-5 w-5 h-5 flex justify-center items-center"
      (click)="toggleUpdateModal()" id="btn-cancel-update-player">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <h1 class="text-xl lg:text-2xl text-main font-semibold w-full">Añadir jugador.-</h1>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
      class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
      type="text" [(ngModel)]="updatedPlayer.name" name="name" #name="ngModel" />
      <label
      class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Nombre:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
      class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
      type="text" [(ngModel)]="updatedPlayer.surname1" name="surname1" #surname1="ngModel" />
      <label
      class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Primer
      apellido:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
      class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
      type="text" [(ngModel)]="updatedPlayer.surname2" name="surname2" #surname2="ngModel" />
      <label
      class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Segundo
      apellido:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="updatedPlayer.dni" name="dni" #dni="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">DNI:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="date" [(ngModel)]="updatedPlayer.birthday" name="birthday" #birthday="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Fecha
        de nacimiento:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <select
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="updatedPlayer.category" name="category" #category="ngModel">
        <option [value]="category" *ngFor="let category of categories">
          {{ category }}
        </option>
      </select>
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Categoría:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(66.6%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="updatedPlayer.email" name="email" #email="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Email:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(33.4%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="updatedPlayer.telephone" name="telephone" #telephone="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Teléfono:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="updatedPlayer.address" name="address" #address="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Dirección:</label>
    </div>
    <button
      class="w-full bg-blue-500 text-neutral-50 h-9 lg:h-12 rounded-lg text-lg font-semibold flex gap-2 justify-center items-center"
      id="btn-update-player" (click)="updatePlayer()">
      <span>Guardar</span>
      <span class="hiddenplus">Guardando...</span>
      <i class="fa-solid fa-save"></i>
      <i class="fa-solid fa-spinner fa-spin hiddenplus"></i>
    </button>
    <button
      class="w-full bg-red-500 text-neutral-50 h-9 lg:h-12 rounded-lg text-lg font-semibold flex gap-2 justify-center items-center"
      id="btn-delete-player" (click)="deletePlayer()">
      <span>Eliminar</span>
      <span class="hiddenplus">Eliminando...</span>
      <i class="fa-solid fa-trash"></i>
      <i class="fa-solid fa-spinner fa-spin hiddenplus"></i>
    </button>
  </div>
</div>
<!-- ******************************** NEW PLAYER MODAL ******************************** -->
<div id="new-player-modal"
  class="flex justify-center items-center fixed top-0 right-0 w-screen h-screen bg-neutral-800/80 backdrop-blur-sm p-3 lg:p-6 hidden z-[25] overflow-y-auto">
  <div
    class="bg-neutral-50 h-max w-full lg:w-[1000px] flex flex-wrap gap-3 p-3 md:gap-5 md:p-5 relative animate-popup rounded-lg text-sm md:text-base">
    <button
      class="text-xl text-main duration-200 absolute top-3 hover:scale-125 right-3 lg:top-5 lg:right-5 w-5 h-5 flex justify-center items-center"
      (click)="toggleSaveModal()" id="btn-cancel-new-player">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <h1 class="text-xl lg:text-2xl text-main font-semibold w-full">Añadir jugador.-</h1>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.dni" name="dni" #dni="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">DNI:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.name" name="name" #name="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Nombre:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.surname1" name="surname1" #surname1="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Primer
        apellido:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.surname2" name="surname2" #surname2="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Segundo
        apellido:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="date" [(ngModel)]="newPlayer.birthday" name="birthday" #birthday="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Fecha
        de nacimiento:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(50%-10px)] relative flex rounded-lg">
      <select
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.category" name="category" #category="ngModel">
        <option [value]="category" *ngFor="let category of categories">
          {{ category }}
        </option>
      </select>
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Categoría:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(66.6%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.email" name="email" #email="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Email:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full md:w-[calc(33.4%-10px)] relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.telephone" name="telephone" #telephone="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Teléfono:</label>
    </div>
    <div class="h-8 lg:h-12 border border-main w-full relative flex rounded-lg">
      <input
        class="h-full w-full rounded-lg px-3 bg-transparent outline-blue-500 outline-2 outline focus:bg-none focus:outline-blue-300 duration-200"
        type="text" [(ngModel)]="newPlayer.address" name="address" #address="ngModel" />
      <label
        class="absolute left-0 self-center ms-3 pointer-events-none duration-200 font-semibold translate-y-[-87%] lg:translate-y-[-100%] scale-95 px-[5px] text-main bg-neutral-50">Dirección:</label>
    </div>
    <button
      class="w-full bg-blue-500 text-neutral-50 h-9 lg:h-12 rounded-lg text-lg font-semibold flex gap-2 justify-center items-center"
      id="btn-new-player" (click)="savePlayer()">
      <span>Guardar</span>
      <span class="hiddenplus">Guardando...</span>
      <i class="fa-solid fa-save"></i>
      <i class="fa-solid fa-spinner fa-spin hiddenplus"></i>
    </button>
  </div>
</div>